/* MEDIA QUERY */

@media screen and (max-width: 527px) {
    li {
        font-size: 3.5vw;
    }

    #navbar>h1 {
        font-size: 8vw;
    }
    p {
        font-size: 3.2vw;
    }

    .column-1>h1 {
        font-size: 6vw;
    }

    



    .contact-button {
        width: 50vw;
        font-size: 6vw;
    }
    #navbar a {
        font-size: 4vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 2.9vw;
    }
    .column-1>h1 {
        font-size: 4.7vw;
    }
    li {
        font-size: 3.1vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.6vw;
    }
    .column-1>h1 {
        font-size: 4.3vw;
    }
    li {
        font-size: 2.8vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.4vw;
    }
    .column-1>h1 {
        font-size: 3.7vw;
    }
    li {
        font-size: 2.6vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.22vw;
    }
    .column-1>h1 {
        font-size: 3vw;
    }
    li {
        font-size: 2.4vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 1.7vw;
    }
    .column-1>h1 {
        font-size: 2.5vw;
    }
    li {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.7vw;
    }
    li {
        font-size: 1.9vw;
        padding: 0.5vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.27vw;
    }
    li {
        font-size: 1.4vw;
        padding: 0.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1vw;
    }
    li {
        font-size: 1.2vw;
        padding: 0.2vw;
    }
}

/* MEDIA QUERY | NAVBAR */
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}


/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}