@media screen and (max-width: 576px) {

    
    li {
        font-size: 3.5vw;
    }

    #navbar {
        display: inline-block;
        text-align: center;
        padding: 50px 10px;
    }

    #name {
        font-size: 8vw;
        color: white;
        text-align: left;
    } 

    #navbar a {
        font-size: 4vw;
    }

    p {
        font-size: 3.2vw;
    }

    .column-1 {
        overflow: auto;
    }

    .column-1 h1 {
        font-size: 6vw;

    }

    .pop-up-button{
        background: purple;
        border: 1px solid white;
    }

    .video-text {
        height: 100vh;
        background: rgb(199, 199, 199);
        position: relative;
    }
}

