html {
    scroll-behavior: smooth;
}
body.fade-out {
    opacity: 0;
}

/* GENERAL */
body {
    margin: 0%;
    opacity: 1;
    transition: 1s opacity;
    letter-spacing: .2vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    user-select: none;
}

body.fade-out {
    opacity: 0.1;
}

h1 {
    /* font-variant: small-caps; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* text-transform: uppercase; */
    margin: 0;
    color: black;
    font-size: 4vw;
}
.name {
    font-size: 4vw;
}
/* #home {
    background-color: rgb(56, 28, 156);
    padding: 0;
} */

h1:hover {
    filter: grayscale(5%);
    /* transform: scale(1.08);
    transition: transform 0.3s; */
}

.white-text {
    color: #fff;
    padding-top: 10vh
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    text-align: justify;
    letter-spacing: 0.1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* p:hover {
    transition: transform 0.5s;
    transform: scale(1.01);
} */

.center {
    text-align: center;
}

/* .center:hover {
    transition: transform 1s;
    transform: scale(1.1);
} */

/* a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
} */

img {
    filter: grayscale(65%);
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    /* width: auto;
    height: 340px; */
    display: block;
    margin: auto;
}

img:hover {
    filter: grayscale(5%);
}

footer {
    margin-top: 50px;
    padding: 30px;
    color: #f2f2f2;
    text-align: center;
    background: rgb(0, 0, 0);
}


/* NAVBAR */
 .navbar-style {
    padding: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    /* overflow: hidden; */
    /* position: fixed; */
    /* top: 0;
    width: 100%;
    padding-bottom: -10px;
    height: auto; */
    z-index: 1;
    -webkit-animation: moveNav 2s;
    animation: moveNav 2s;
}

/* @keyframes moveNav {
    from {left: -90vw;}
    to {left: 0vw;}
} */

.nav-a {
    /* float: left;
    display: block; */
    color: #000000;
    padding: auto;
    text-decoration: none;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 2s;
    animation: moveNavText 2s;
}

/* @keyframes moveNavText {
    from {left: -50vw;}
    to {left: 0vw;}
} */

.nav-a:hover {
    /* background-color: rgb(61, 16, 223);
    color: rgb(250, 235, 215); */
    color:silver;
    cursor: pointer;
    transition: 0s ease-in;
}

.nav-a-wrapper {
    width: auto;
}

/* Wave Video */
#wave-video {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    /* background-size: cover;
    overflow: hidden; */
}

@media screen and (max-width: 576px) {
    #wave-video {
        display: none;
        background-color: #f2f2f2;
    }
}

.video-text {
    background: rgba(21, 1, 66, 0.7);
    color: #fff;
    width: 100%;
    height: 100vh;
    /* top: -2vw; */
    margin: auto;
    position: relative;
    -webkit-animation: moveVideoText 2.1s;
    animation: moveVideoText 2.1s;
}

/* @keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
} */


/* Slideshow */
#slideshow {
    margin: 10px; 
}

#slideshow-bg {
    background: rgb(0, 0, 0);
    padding: 20px 0px;
    max-height: 70vh;
}

.mySlides {
    display: none;
    max-height: 60vh;
}

#slideshow-container {
    width: 50vw;
    max-height: 60vh;

    /* padding-top: 4%; */
    position: relative;
    margin: auto;
}

#slideshow-container a {
    text-decoration: none;
    max-height: 60vh;
}

.slideshow-image {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 0px 20px 20px rgba(12, 4, 77, 0.5);
    max-height: 50vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgrey;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.5s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.slideshow-text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0.25vw;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: rgb(255, 255, 255);
}

.slide-fade {
    animation-name: slide-fade;
    animation-duration: 1s;
    -webkit-animation-name: slide-fade;
    -webkit-animation-duration: 1s;
}

@keyframes slide-fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

@-webkit-keyframes slide-fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}


/* TABLE */
* {
    box-sizing: border-box;
}

.proj {
    font-variant: normal;
    list-style: none;
    text-decoration-line: none;
    text-align: center;
    font-size: 3vh;                   
                                       /* YOU FINISHED WITH THE GITHUB LI 12/5 18:53*/
    max-height: 10vh;
    font-family: 'Roboto', sans-serif;
    padding-top: 10%;
    margin: 10px;
    width: 100%;
    color:red;
    background-color: pink;
    border: 3px solid silver;
    border-radius: 5px;
    cursor: pointer;
}
.proj:hover {
    font-variant: normal;
    list-style: none;
    text-decoration-line: none;
    color: blue;
}

.proj:last-child {
    padding-bottom: 30px;
}

.top-row, .bottom-row {
    /* background-color: rgba(107, 245, 148, 0.7); */
    height: auto;
}

.column-1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 500px;
    /* background-color: #ff0000; */
    
}


/* .column-1:last-child {
    border-bottom: 1px solid rgb(0, 0, 0);
}*/

@media screen and (max-width: 576px) {
    .column-1 {
        overflow: visible;
    }
}

.column-2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 500px;
    /* background-color: rgb(0,0,0); */
}

#github>.column-1,#github>.column-2 {
    border-top: 3px solid white;
    padding: 10%;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 50px;
    background-color: black;
    color:white;
}
#github {
    color:white;
    border-top: 4px solid white;
}
#about>.column-1,#about>.column-2 {
    background-color: rgb(247, 132, 195);
}

/* .column-tall {
    padding-top: 1.5%;
    height: 500px;
} */

.row:after {
    /* allows footer to be diplayed */
    content: "";
    display: table;
    clear: both;
}



/* Contact popup */
.pop-up-button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: auto;
    padding: 10px 20px;
    margin: 0px 10px;
    background-color: rgba(55, 110, 33, 0.582);
    color: white;
    font-size: 1.5em;
    box-shadow: 0px 0px 3px 3px inset;
    cursor: pointer;
    -webkit-animation: movePopup 2s;
    animation: movePopup 2s;
}

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 0.5vw;
    right: 0.5vw;
    font-size: 3vh;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    color: white;
    background-color: rgb(0, 0, 0);
}

.form-container input[type=text] {
    width: 100%;
 
    padding: 0.9vw;
    margin: 0.6vw 0 0.6vw 0;
    border: none;
    background: gainsboro;
    font-size: 2vh;
}

button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3vw;
    /* font-size: 1.5vw;
    font-weight: bold;*/
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: rgb(55, 110, 33);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    border-color: silver;
}

.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: red;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    border-color: black;
}


/* Screens */
@media screen and (max-width: 576px) {
    .nav-a {
        font-size: 4vw;
        font-variant: normal;
        /* padding: 10px 5px; */
    }
    .name {
        font-size: 10vw;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 3.2vw;
    }
    li {
        font-size: 3.8vw;
    }
    .pop-up-button {
        background-color: rgb(55, 110, 33);
        font-size: 4vw;
        padding: 18px;
        width: 50%;
        left: 25%;
    }
    /* .column-1, .column-2 {
        height: auto;
        margin: auto;
    } */
    .row {
        max-height: 200px;
    }
}


@media screen and (min-width: 528px) and (max-width: 660px) {
    .nav-a {
        font-size: 3.8vw;
    }
    .name {
        font-size: 5vw;
    }
    p {
        font-size: 2.5vw;
    }
    li {
        font-size: 3.1vw;
    }
    /* .pop-up-button {
        font-size: 2vw;
        padding: 18px;
        width: 50%;
        right: 25%;
    } */
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    .nav-a {
        font-size: 3.8vw;
    }
    .name {
        font-size: 5vw;
    }
    p {
        font-size: 2.5vw;
    }
    li {
        font-size: 2.8vw;
    }
    /* .pop-up-button {
        font-size: 2vw;
        padding: 18px;
        width: 50%;
        right: 25%;
    } */
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    .nav-a {
        font-size: 2.9vw;
    }
    .name {
        font-size: 5vw;
    }
    p {
        font-size: 2.5vw;
    }
    li {
        font-size: 2.6vw;
    }
    /* .pop-up-button {
        font-size: 2vw;
        padding: 18px;
        width: 50%;
        right: 25%;
    } */
}

@media screen and (min-width: 925px) and (max-width: 1080px) {
    .nav-a {
        font-size: 2.6vw;
    }
    .name {
        font-size: 5vw;
    }
    p {
        font-size: 2vw;
    }
    li {
        font-size: 2.4vw;
    }
    
}



@media screen and (min-width: 1081px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }
    li {
        font-size: 2vw;
    }
}   

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.7vw;
    }
    li {
        font-size: 1.9vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.27vw;
    }
    li {
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1vw;
    }
    li {
        font-size: 1.2vw;
    }
}

/* MEDIA QUERY | NAVBAR */
@media screen and (max-width: 1080px) {
    .navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */

    }
    
    
}

/*to enlarge the font of the white text for smaller screens */
/* @media screen and (max-width: 1080px) {
    .white-text {
        font-size: 4.5vw;
    }
} */

/*to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .column-1 {
        height: 550px;
    }
    .column-2 {
        height: 550px;
    }
}


/*to remove margin-top from h1 elements for extra large screens*/
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}
